/* css styles */

.daily-prog-col {
  height: 80%;
  background-color: #106BA0;
  color: white;
  padding-left: 10px;
  box-sizing: border-box;
}

.daily-prog-col2 {
  height: 80%;
  background-color: #F04A4C;
  color: white;
  padding-left: 10px;
  box-sizing: border-box;
}

.daily-prog-col3 {
  height: 80%;
  background-color: #071E2D;
  color: white;
  padding-left: 10px;
  box-sizing: border-box;
}

.daily-prog-col4 {
  height: 80%;
  background-color: #888888;
  color: white;
  padding-left: 10px;
  box-sizing: border-box;
}

